<div class="bg-white rounded mb-3 p-3 row">
    <div class="col-12">
        <div class="d-flex justify-content-between">
            <h4 class="mt-0" th:text="${examination.date}"></h4>
            <h4 class="mt-0" th:text="${examination.time}"></h4>
            <h4 class="mt-0" th:text="${examination.id}"></h4>
            <a data-toggle="modal" data-target="#openModal" class="btn btn-floating pulse pr-4">
                <i class="fa fal fa-arrow-circle-right text-light-green"></i>
            </a>
        </div>
        <hr class="bg-info w-100">
        <p class="text-wrap" th:text="${examination.patient.egn}"></p>
    </div>
    <div class="row w-100">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <i class="p-1 rounded bg-primary text-white" th:text="${examination.status}"></i>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 avatar">
            <a class="pull-right" th:href="|/users/${examination.patient.id}|">
                <h6 th:text="${examination.patient.firstName}" class="text-dark d-inline-block"></h6>
                <img src="/img/avatar__181424 (2).png" heght="512" width="512" class="d-inline-block"/>
            </a>
        </div>
    </div>
</div>