<div xmlns:th="http://www.w3.org/1999/xhtml" class="modal fade" id="bookAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Make appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:method="post" th:action="@{/wards/{name}(name=${viewModel.wardName})}" th:object="${appointmentBindingModel}">
                <div class="modal-body">
                    <div class="form-group">
                        <h6 th:text="|Are you sure you would like to book an appointment for ward ${viewModel.wardName} at time ... :|"></h6>

                        <!--
                        <label for="chooseDateInput">Choose date:</label>
                        <input name="date" type="date" class="form-control" id="chooseDateInput" th:field = "*{date}">
                        <div class="text-danger" id="chooseDateHint" th:each="error : ${#fields.errors('date')}" th:text="${error}">Error Message</div>
                        -->

                        <!--
                        TODO:
                        FIND WHY THESE FIELD ARE NOT SENDING VALUE TO THE BACKEND
                        -->
                        <input type="hidden" name="date" th:value="${viewModel.date}" th:field = "*{date}"/>
                        <input type="hidden" name="time" value="00:00" th:field = "*{time}"/>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="makeAppointmentButton" class="btn text-white bg-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>